<hr class="featurette-divider" id="history">
<div class="row featurette">
	<div class="col-md-7">
		<h1><%= appData.animalsHistory.animalHistory %></h1>
		<p><%= appData.animalsHistory.amimalHistoryDetails %></p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive center-block" src="/images/tiger.jpg" alt="Generic placeholder image">
	</div>
</div>