<hr class="featurette-divider" id="science">

<div class="row featurette" >
	<div class="col-md-7 col-md-push-5">
		<h1><%= appData.animalsScience.animalScience %></h1>
		<p><%=  appData.animalsScience.animalScienceDetails.para1 %></p>
		<p><%=  appData.animalsScience.animalScienceDetails.para2 %></p>
		<p><%=  appData.animalsScience.animalScienceDetails.para3 %></p>
	</div>
	<div class="col-md-5 col-md-pull-7">
		<img class="featurette-image img-responsive center-block" src="/images/parrot.jpg" alt="Generic placeholder image">
	</div>
</div>

<hr class="featurette-divider">
